
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body{
	background-color: #FEEAEA;
}

h2{
	text-align: center;
	margin-top: 3%;
	font-size: 300%;
}

.mainContainer{
	width: 100%;
	text-align: center;
	margin-top: 3em;

}

.inputArea input, .editInput{
	border-radius: 5%;
	width: 300px;
	height: 30px;
	padding: 5px;
}

.inputArea button{
	width: 90px;
	height: 40px;
	padding: 5px;
}

.showTodoList{
	width: 100%;
}

.showTodoList ol{
	margin: 0 auto;
	width: 90%;
	padding: 20px;
	
}
.showTodoList ol li{
	font-size: 150%;
}



.todoDeleteButton, .todoEditButton, .toggleButton{
	padding: 5px;
	margin: 2px;
}
.todoDeleteButton{
	margin-left: 500px;
}